.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 0.75rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-entries {
  display: flex;
  justify-content: space-between;
}

.column-full,
.column-half {
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
    padding: 0;
  }

  .column-full,
  .column-half {
    padding: 0;
  }

  .column-half {
    width: 50%;
  }

  #space-text {
    padding-left: 1rem;
  }
}
