.hidden {
  display: none !important;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: wrap;
  justify-content: center;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
    padding: 0;
  }

  .button-save {
    margin-right: 0.5rem;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
