.button-save {
  float: right;
  border: none;
  padding: 0.25rem 0.5rem;
  margin-top: 0.75rem;
  border-radius: 0.2rem;
  font-size: 0.75rem;
  background-color: rgb(152, 3, 179);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.box-notes {
  width: 100%;
  font-size: 14px;
}

.form-box {
  text-align: left;
}

.header-entry {
  text-align: left;
}

.header-journal {
  font-size: 1rem;
  background-color: rgb(152, 3, 179);
  color: rgb(255, 255, 255);
  font-weight: 100;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 10rem;
}

.input-box {
  border-radius: 0.2rem;
  padding: 0.2rem 0;
  width: 100%;
}

.input-label {
  font-size: 14px;
}

.image-submit {
  background-color: rgb(204, 203, 204);
  width: 100%;
  height: 100%;
}
